.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100%), 1fr)); */
  /* grid-template-rows: repeat(auto-fit, 10rem); */
  gap: 2rem;
}
