::-webkit-scrollbar {
  /* width: 0.5rem; */
  height: 0rem;
  background-color: #202020;
}

::-webkit-scrollbar-track {
  background-color: #202020;
}

::-webkit-scrollbar-thumb {
  background-color: #a2a2a2;
  border-radius: 2rem;
  width: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}

body,
html,
#root {
  height: 100vh;
  overflow: hidden;
  background: #121212;
}

body {
  user-select: none;
}

.main {
  height: 100vh;
  display: grid;
  place-content: center;
}
