::-webkit-scrollbar {
  width: 1px;
  background-color: #202020;
}

::-webkit-scrollbar-track {
  background-color: #202020;
}
::-webkit-scrollbar-thumb {
  background-color: #202020;
  /* color: white; */
  /* background-color: white; */
}

body,
html,
#root {
  height: 100vh;
}

body {
  user-select: none;
}

.main {
  height: 100vh;
  display: grid;
  place-content: center;
}
